{% extends 'bases/base.html' %}
{% load static %}


{% block 'body' %}
<div class="container text-center">
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <form action="{% url 'home' %}" method="GET">
            <input type="text" class="form-control" placeholder="Buscar produto..." name="nome">
        </div>
        <div class="col-md-2">
            <button class="btn btn-outline-secondary" type="submit">Buscar produto</button>
            </form>
        </div>
        
    </div>
    <br>
    <table class="table">
    <thead class="thead">
        <tr>
        <th scope="col">Nome do Produto</th>
        <th scope="col">Código do produto</th>
        <th scope="col">Descrição do produto</th>
        <th scope="col">Preço do produto</th>
        <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in page.object_list %}
            <tr>
            <td>{{produto.nome_produto}}</td>
            <td>{{produto.codigo_produto}}</td>
            <td>{{produto.descricao_produto}}</td>
            <td>R$ {{produto.preco_produto}}</td>
            <td>
                <a type="submit" href="{% url 'editar_produto' produto.id %}">
                    <button type="button" class="btn btn-warning">Editar</button>
                </a>
                <a type="submit" href="{% url 'deletar_produto' produto.id %}">
                    <button type="button" class="btn btn-danger">Deletar</button>
                </a>
            </td>
            </tr>
            <tr>
        {% endfor %}
    </tbody>
    </table>
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'home' %}?page={{page.previous_page_number}}" tabindex="-1">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>
            {% endif %}

            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'home' %}?page={{page.next_page_number}}">Próximo</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Próximo</a>
                </li>
            {% endif%}
        </ul>
        </nav>
    <hr>
    <a href="{% url 'cadastrar_produto' %}">
        <button type="button" class="btn btn-outline-dark">Cadastrar novo produto</button>
    </a>
</div>

{% endblock %}